<!-- ============================================= -->
<!-- ================== Footer ====================-->
    <footer class="footer">
        <br><hr>
        <section class="footer_heading">
            <div>
                <h2 class="footer_heading_title">
                    <i class="fas fa-hotel"></i>&nbsp; HotelFinder
                </h2>
                <p class="footer_heading_desc">CSS497 Hotel Finder &copy;2020 Autumn Quarter</p>
            </div>
                <i class="fas fa-arrow-circle-up up_arrow"></i>
        </section>
        <hr class="footer_divider">
        <section class="footer_contents">
            <div class="footer_content">
                <a class="footer_content_title" href="/faq">FAQ</a>
                <p class="footer_content_desc">Frequent Ask Question contains questions that are most likely to be ask</p>
            </div>
            <div class="footer_content">
                <a class="footer_content_title" href="/about">About Us</a>
                <p class="footer_content_desc">About Us contains information about developers include linked in</p>
            </div>
            <div class="footer_content">
                <a class="footer_content_title" href="/faq">API Referecnes (Include AWS)</a>
                <p class="footer_content_desc">API Reference contains information about API url that we had used to create this project.</p>
            </div>
            <div class="footer_content">
                <a class="footer_content_title" href="/faq">Images/Photo Reference</a>
                <p class="footer_content_desc">Images/Photo contains information about where we used the images. All the images we had used for this project are free to use. We want to give credit to the website.</p>
            </div>
        </section>
        <hr class="footer_divider">
        <div class="footer_github">
            <a href="https://github.com/CSS-Capstone/CSS-Capstone"><i class="fab fa-github github_link"></i>Github (Private for now)</a>
        </div>
        <hr class="footer_divider">
    </footer>
