<!-- <%if (modalStyle == '') { %>
    <div class = "popup-overlay"></div>
<% } else { %>
    <div class = "popup-overlay" style = "display: block;"></div>
<% } %> -->
<div class = "popup-overlay"></div>
<%if (stayInWhere == 'login') { %>
<div class = "popup" style = "height: 440px;">
<% } else if (stayInWhere == 'register') { %>
<div class = "popup" style = "height: 620px;">
<% } else if (stayInWhere == 'reset password') { %>
<div class = "popup" style = "height: 500px;">
<% } else { %>
<div class = "popup">
<% } %>
<!-- <div class = "popup"> -->
    <!-- <div class="popup-close" onclick="closeForm()">
        &times;
    </div> -->
    <!-- Login -->
    <%if (stayInWhere == 'login') { %>
    <div class = "login_form" id = "chosen_login">
    <% } else { %>
    <div class = "login_form" id = "not_chosen_login">
    <% } %>
    <!-- <div class = "login_form"> -->
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/sign_in_icon.png" class="avatar">
        <h1 class = "box_title">Login</h1>
        <span class = "error_message_login"><%= loginMessage %></span>
        <form action="/auth/login" method = "POST" id = "login" onsubmit="return checkLoginForm(this);">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <span class = "error_message" id = "login_error_message_empty" style = "display: none;">The email cannot be empty</span>
            <span class = "error_message" id = "login_error_message_invalid" style = "display: none;">The email needs to be valid</span>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <span class = "error_message" id = "login_error_message_password" style = "display: none;">The password cannot be empty</span>
            <br>
            <input type="submit" name="" value="Login" id = "input_submit_login">
            <!-- <input type="submit" name="" value="Login" id = "input_submit_login" onclick = "showLoginMessage()"> -->
            <a href="/google">Google Sign In</a><br>
            <a href="/facebook">Facebook Sign In</a><br>
            <a href="#" onclick = "showResetPassword()">Forgot password?</a><br>
            <a href="#" onclick = "showRegister()">Don't have an account?</a>
        </form>
    </div>
    <!-- Make an if statement to show this message -->
    <div class = "message_login">
        <p>Your password has been changed. Please check your email for the confirmation.</p>
        <a href="#" onclick = "closeForm()"> Got it!</a>
    </div>
    <!-- Register -->
    <% if (stayInWhere == 'register') { %>
    <div class = "register_form" id = "chosen_register">
    <% } else { %>
    <div class = "register_form" id = "not_chosen_register">
    <% } %>
    <!-- <div class = "register_form"> -->
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/register_icon_2.png" class="avatar">
        <h1 class="box_title">Register</h1>
        <span class = "error_message"><%= registerMessage %></span>
        <!-- action = "where you want to call the post request for register" -->
        <!-- method = "POST" -->
        <form action="/auth/register" method = "POST" id = "register" onsubmit="return checkRegisterForm(this);">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="newPassword" id = "new_password" placeholder="Enter Password" >
            <p>Confirm Password</p>
            <input type="password" name="confirmPassword" id = "confirm_password" placeholder="Confirm Password" >
            <!-- Radio button, figure out the appropiate css -->
            <!-- <p>Account Type</p>
            <div class = "radio_button">
                <input type="radio" name="acc_type" id="finder" value="finder">
                <label for="finder">Finder</label>
                <input type="radio" name="acc_type" id="poster" value="poster">
                <label for="finder">Poster</label>
            </div> -->
            
            <!-- ============ -->
            <!-- <input type="submit" name="" value="Make Account" id = "input_submit_register" onclick = "showRegisterMessage()"> -->
            <input type="submit" name="" value="Make Account" id = "input_submit_register">
            <a href="/google">Register with Google</a><br>
            <a href="/facebook">Register with Facebook</a><br>
            <span class = "log_in_link">Already have an account? </span><a href="#" onclick = "showLogin()" class = "show_login">Log In</a>
        </form>
    </div>
    <!-- Make an if statement to show this message -->
    <div class = "message_register">
        <p>Your password has been changed. Please check your email for the confirmation.</p>
        <a href="#" onclick = "closeForm()"> Got it!</a>
    </div>
    <!-- Reset Password -->
    <%if (stayInWhere == 'reset password') { %>
    <div class = "reset_password_form" id = "chosen_reset_password">
    <% } else { %>
    <div class = "reset_password_form" id = "not_chosen_reset_password">
    <% } %>
    <!-- <div class = "reset_password_form"> -->
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/register_icon_2.png" class="avatar">
        <h1 class = "box_title">Reset Password</h1>
        <span class = "error_message"><%= resetPasswordMessage %></span>
        <form action="/auth/reset_password" method = "POST" id = "reset_password" onsubmit = "return checkResetPasswordForm(this);">
        <!-- <form action="" id = "reset_password"> -->
            <p>Enter your email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>New Password</p>
            <input type="password" name="newPassword" id = "new_password" placeholder="Enter Password" >
            <p>Confirm Password</p>
            <input type="password" name="confirmPassword" id = "confirm_password" placeholder="Confirm Password" >
            <input type="submit" name="" value="Change My Password" id = "input_submit_reset_password">
            <!-- <input type="submit" name="" value="Change My Password" id = "input_submit_reset_password" onclick = "showResetPasswordMessage()"> -->
            <span class = "log_in_link">Already have an account? </span><a href="#" onclick = "showLogin()" class = "show_login">Log In</a>
        </form>
    </div>
    <!-- Make an if statement to show this message -->
    <div class = "message_reset_password">
        <p>Your password has been changed. Please check your email for the confirmation.</p>
        <a href="#" onclick = "closeForm()"> Got it!</a>
    </div>
</div>
<script src = "/js/Modal/Modal.js"></script>