<div class="modal__profile__lang__backdrop"></div>
<div class="modal__profile__lang__wrapper">
	<div class="modal__pl__header">
		<span>
			<div class="modal__pl__close__btn" onclick="closeLangModal()">&times;</div>
			<div class="modal__pl__title">Languages I speak</div>
		</span>
	</div>
	<div class="modal__pl__body">
		<div class="modal__pl__body__heading">
			We have many international travelers who appreciate hosts who can speak their language.
		</div>
		<div class="modal__pl__body__checkbox__list" id="checkBox__list">
		</div>
	</div>
	<div class="modal__pl__footer">
		<button id="profileSubmit" type="button" class="language__submit__btn" onclick="submitLanguages()">Done</input>
	</div>
</div>
<script src = "/js/Modal/modal_user_profile_lang.js"></script>