<div class = "popup-overlay"></div>
<div class="popup">
    <!-- <div class="popup-close" onclick="closeForm()">
        &times;
    </div> -->
    <div class = "login_form">
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/sign_in_icon.png" class="avatar">
        <h1 class = "box_title">Login</h1>
        <form action="/auth/login" method = "POST" id = "login" onsubmit="return checkLoginForm(this);">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <br>
            <input type="submit" name="" value="Login" id = "input_submit_login">
            <a href="/google">Google Sign In</a><br>
            <a href="/facebook">Facebook Sign In</a><br>
            <a href="#" onclick = "showResetPassword()">Forgot password?</a><br>
            <a href="#" onclick = "showRegister()">Don't have an account?</a>
            <span><%= loginMessage %></span>
        </form>
    </div>
    <div class = "register_form">
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/register_icon_2.png" class="avatar">
        <h1 class="box_title">Register</h1>
        <!-- action = "where you want to call the post request for register" -->
        <!-- method = "POST" -->
        <form action="/auth/register" method = "POST" id = "register" onsubmit="return checkRegisterForm(this);">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Email</p>
            <input type="text" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="newPassword" id = "new_password" placeholder="Enter Password" >
            <p>Confirm Password</p>
            <input type="password" name="confirmPassword" id = "confirm_password" placeholder="Confirm Password" >
            <!-- Radio button, figure out the appropiate css -->
            <!-- <p>Account Type</p>
            <div class = "radio_button">
                <input type="radio" name="acc_type" id="finder" value="finder">
                <label for="finder">Finder</label>
                <input type="radio" name="acc_type" id="poster" value="poster">
                <label for="finder">Poster</label>
            </div> -->
            
            <!-- ============ -->
            <input type="submit" name="" value="Make Account" id = "input_submit_register">
            <a href="/google">Register with Google</a><br>
            <a href="/facebook">Register with Facebook</a><br>
            <span class = "log_in_link">Already have an account? </span><a href="#" onclick = "showLogin()" class = "show_login">Log In</a>
        </form>
        <span><%= registerMessage %></span>
    </div>
    <div class = "reset_password_form">
        <div class="popup-close" onclick="closeForm()">
            &times;
        </div>
        <img src="/images/sign_in_icon.png" class="avatar">
        <h1 class = "box_title">Login</h1>
        <!-- <form action="/auth/reset_password" method = "POST" id = "reset_password" onsubmit = "return checkResetPasswordForm(this);"> -->
        <form action="">
            <p>Enter your email</p>
            <input type="text" name="" placeholder="Enter Email">
            <p>New Password</p>
            <input type="password" name="newPassword" id = "new_password" placeholder="Enter Password" >
            <p>Confirm Password</p>
            <input type="password" name="confirmPassword" id = "confirm_password" placeholder="Confirm Password" >
            <input type="submit" name="" value="Change My Password" id = "input_submit_reset_password" onclick = "showResetPasswordMessage()">
        </form>
    </div>
    <div class = "message_reset_password">
        <p>Your password has been changed. Please check your email for the confirmation.</p>
        <a href="#" onclick = "closeForm()"> Got it!</a>
    </div>
</div>
<script src = "/js/Modal/Modal.js"></script>