<div class="modal__backdrop"></div>
<div class="modal__wrapper">
	<span class="photo__upload__header">
		<h2>Update Profile Photos</h2>
		<div class="modal__close__btn" onclick="closeForm()">
			&times;
		</div>
	</span>
	<div class="photo__upload__body">
		<div class="photo__upload__title">
			Profile Photo
		</div>
		<img class="photo__current"></img>
		<div>
			SMALL Photo images
		</div>
		<div class="photo__upload__paragraph">
			A profile photo that shows your face can help other hosts and guests get to know you. Airbnb requires all hosts to have a profile photo. We don’t require guests to have a profile photo, but hosts can. If you’re a guest, even if a host requires you to have a photo, they won’t be able to see it until your booking is confirmed. 
		</div>
		<form id="uploadImage" enctype="multipart/form-data" method="POST" action="/users/upload">
			<label for="imageUpload" class="photo__upload__btn">
				Upload a file from your computer
			</label>
			<input id="imageUpload" type="file" accept="image/*"/>
		</form>
	</div>
</div>
<script src = "/js/Modal/modal_user_photo.js"></script>