<!-- ======================================== -->
<!-- ============== Navigation ============== -->
<!-- ======================================== -->
<nav class="index_header_nav_container">
    <h1>
        <a href="/">
            <i class="fas fa-hotel"></i>&nbsp; HotelFinder
        </a>
    </h1>
    <ul>
        <li>
            <a href="/about">About Us</a>
        </li>
        <li>
            <div class="index_header_nav_darkmode mode_setting">
                <i class="far fa-moon">Dark Mode</i>
            </div>
        </li>
    </ul>
</nav>