<!-- Modal Login CSS -->
<link rel="stylesheet" type="text/css" href="/css/userDropDownMenu.css">
<div class="dropdown">
    <div id="dropdown__menu" class="dropdown-content">
        <a href="/become-host">Host your home</a>
        <a href="/users">Account</a>
        <a href="/logout">Logout</a>
    </div>
</div> 
<script src = "/js/Navigation/dropdown_menu.js"></script>
