/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-blue: #73aace;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius: 4px;
}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2 {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    cursor: default;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

/* About common */
.about {
    padding: 50px;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.about__developers {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.developer__icon {
    width: 170px;
    height: 170px;
    line-height: 170px;
    font-size: 70px;
    margin: auto;
    color: var(--color-blue); 
    border: 1px solid var(--color-blue);
    border-radius: 50%;
    margin-bottom: 16px;
}

.developer__icon:hover {
    color: var(--color-blue); 
    border: 2px solid var(--color-blue);
}

.developer__name, .developer__description {
    color: var(--color-dark-grey);
}

.developer__description {
    font-size: var(--font-small);
}