/* =================== */
/* root of the FAQ css */
/* =================== */
:root {
    --chatbot_color: rgb(1, 186, 239);
    --chatbot_hover_text: rgb(228, 228, 228);
    --chatbot_hover_background: rgb(24, 24, 24);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

/* =================== */
/* header */
/* =================== */

/* div that contains the navigation bar */
.header_root {
    margin-top: 0.5rem;
}

/* =================== */
/* body */
/* =================== */

/* main section of the FAQ page */
.main_body_faq {
    margin: 3rem 5rem;
}

/* contain all questions */
.main_body_faq > .main_body_all_questions {
    display:inline-block;
    width: 100%;
}

/* container for each question */
.main_body_faq > .main_body_all_questions > .main_body_question_container {
    margin: 2rem 0;
}

.question_clicker {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active, .question_clicker:hover {
    background-color: #555;
}

.answer_container {
    padding: 50px 20px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    /* transform: translateY(0em);
    z-index: 0;
    transition: all 0.3s ease-in-out 3s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; */
}

/* arrow on the question */
.fa {
    font-size: 2rem;
}

/* ================================== */
/* ChatBot ========================== */
/* ================================== */
.faq_chatbox_section {
    background-color: red;
    position: relative;
}

.catbot_container {
    display: none;
    position: absolute;
    top: -2rem;
    right: 3rem;
}

.catbot_hidden {
    display: block;
}

.chatbot_icon {
    display: inline-block;
    color: var(--chatbot_color);
    font-size: 2.0rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.chatbot_tool_tip {
    visibility: hidden;
    width: 120px;
    background-color: var(--chatbot_hover_background);
    color: var(--chatbot_hover_text);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 2rem;
    right: -3rem;
}

.chatbot_icon:hover + .chatbot_tool_tip {
    visibility: visible;
}
/* ================================== */
/* END ChatBot ====================== */
/* ================================== */
