@import "global.css";

a {
    text-decoration: none;
    color: var(--color-footer-link);
}

.footer {
    background-color: var(--color-background-grey);
    padding: 0rem 5rem;
}

.footer > .footer_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_heading_title {
    color: var(--main_content_title);
}

.footer_divider {
    margin: 1rem 0rem;
}

.footer_contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.footer_contents > .footer_content > .footer_content_title {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--main_content_title);
}

.footer_github {
    text-align: left;
}

.github_link {
    font-size: 2.0rem;
    color: var(--main_content_title);
}
