@import "global.css";

a {
    text-decoration: none;
}

.footer {
    background-color: var(--color-background-grey);
    bottom: 0%;
    width: 100%;
    padding: 0rem 5rem;
}

.footer_heading_title {
    color: var(--main_content_title);
}

.footer_content_link {
    color: var(--color-footer-link);
}

.footer_lower_content {
    color: var(--color-footer-link);
}

.footer_divider {
    margin: 1rem 0rem;
}

.footer_contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.footer_lower_content_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.up_arrow {
    font-size: 1.5rem;
    cursor: pointer;
}

.footer_github {
    text-align: left;
}

.github_link {
    font-size: 2.0rem;
    color: var(--main_content_title);
}
