@import "global.css";

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    padding: 0px;
}

li {
    display: inline;
}

input {
    margin-top: 5px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

.index__bg {
    /* background: url('../images/index-head-hotel.jpg'); */
    top: 0%;
    width: 100%;
    height: 60vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* About common */
#navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    color: var(--color-white);
    padding: 16px;
    width: 100%;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    justify-content: flex-start;
}

.navbar__center__menu {
    justify-content: center;
}

.navbar__right__menu {
    justify-content: flex-end;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    cursor: pointer;
    border-radius: var(--size-border-radius);
    font-weight: var(--weight-regular);
    font-size: var(--font-regular);
    border: 1px solid transparent;
}

.navbar__menu__item:hover {
    border: 1px solid var(--color-white);
}

#wrapper {
    width: 100%;
    background-color: blue;
}
;
#wrapper>div:first-child {
    max-width: 100%;
    background-color: red;
    left: 20vw;
}

.searchbar {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    top: 80px;
    width: 60%;
    height: 65px;
    border-radius: 32px;
    box-shadow: 1px 2px 1.5px 2px var(--color-shadow);
    background-color: var(--color-white);
}

.searchbar__item {
    position: relative;
    padding: 0px 4px;
    width: 20%;
    display: table-cell;
    border: 0.6rem solid transparent;
}

.searchbar__item#location {
    padding-left: 28px;
}

#location__searchterm {
    outline: none;
}

/* Float four columns side by side */
.cards__col {
    float: left;
    width: 25%;
    height: 100px;
    padding: 0 10px;
}

.card#1 {
    background: url('../images/index-post-hotel.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.card#2 {
    background: url('../images/index-public-transportation.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.card#3 {
    background: url('../images/index-tourist-attraction.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

.cards__col#4 {
    background: url('../images/index-head-hotel.jpg');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Remove extra left and right margins, due to padding */
.cards {margin: 0 -5px;}

/* Clear floats after the columns */
.cards:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive columns */
@media screen and (max-width: 600px) {
    .cards__col {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    /* background-color: #f1f1f1; */
    border-radius: 10px;
}