<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for posting hotel</title>
</head>
<body>
    <h2>Thanks for Posting a hotel through Hotel Finder</h2>
    <p><%=tempPostedHotelId%></p>
    <p><%=hotelDataObj.hotel_name%></p>
    <p><%=hotelDataObj.hotel_price%></p>
</body>
</html>