<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Component CSS -->
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    WELCOME TO THE DEVELOPER'S PAGE
    <%- include('../../partials/footer') %>
    
</body>
</html>