<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Index CSS -->
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/userTab.css">
    <link rel="stylesheet" href="/css/footer.css">
    <!-- User Tab Script -->
    <link rel="stylesheet" type="text/css" href="/css/modalUserPhoto.css">

</head>
<body>
    <!-- Hello world testing hahahah -->
    <!-- <div class="index__bg">
        <nav id="navbar">
            <div class="navbar__logo">
                <i class="fas fa-hotel"></i>
                <a href="/">Hotel Finder</a>
            </div>
            <div class="navbar__center__menu">
                <span class="navbar__menu__item active">
                    <a href="/about/">About Us</a>
                </span>
            </div>
            <div class="navbar__right__menu">
                <span class="navbar__menu__item">
                    <a href="#"><i class="far fa-moon"></i></a>
                </span>
                <span class="navbar__menu__item"><a href="#">Become a host</a></span>
                <span class="navbar__menu__item">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                        <i class="far fa-user-circle"></i>
                    </a>
                </span>
            </div>
        </nav>
    </div> -->
    <section class="profile__wrapper">
        <div class="profile__left">
            <div class="profile__left__upper">
                <% if (!user.profile_img || user.profile_img === "default_profile_img") { %>
                    <img class='profile__image' src='images/default_user_profile_img_login.png'/>
                <% } else { %>
                    <img class='profile__image' src="<%= user.profile_img%>"/>
                <% } %>
                <br>
                <a href="#" id="underline" onclick="openForm()">Update photo</a>
                <%- include('../../partials/modal_user_photo', {user: user}) %>
            </div>
            <div class="profile__left__mid">
                <i class="far fa-star"></i> 1 review
                <br>
                <i class="fas fa-hotel"></i> 5 hotels
                <br>
                <i class="fas fa-check-double"></i> Identity verified
            </div>
            <hr/>
            <div class="profile__bottom">
                <div class="profile__bottom__heading">
                    Name of the user confirmed
                </div>
                <i class="fas fa-check"></i> Identity
                <br>
                <i class="fas fa-check"></i> Email address
                <br>
                <i class="fas fa-check"></i> Phone number
                <br>
                <i class="fas fa-check"></i> Work email
                <br>
            </div>
        </div>
        <div class="profile__right">
            <div class="profile__right__heading">
                Hi, I'm <%- user.username %>
                <button class="forget__me__btn">
                    Forget Me
                </button>
            </div>
            <div class="profile__right__joined">
                Joined in 20xx
            </div>
            <a href=# id="underline">Edit profile</a>
            <div class="profile__right__heading__sub">
                About
            </div>
            <div class="profile__right__about">
                <i class="fas fa-home"></i> Lives in Someplace, State
                <br>
                <i class="fas fa-comment-alt"></i> Speaks English, Coreana
                <br>
            </div>
            <hr class="right__divider"/>
        </div>
    </section>
    <section class="user__tab__wrapper">
        <div class="user__tab__btn__container">
            <button class="user__tab__btn" id="userTabBtnDefault">Reviews/Comments</button>
            <button class="user__tab__btn">Booking History</button>
            <button class="user__tab__btn">Hosting List</button>
        </div>
        <div class="user__tab__panel__container">
            <div class="user__tab__panel" id="userTabPanelDefault">
                <div class="user__tab__panel__reviews" id="comments">
                </div>
            </div>
                
            <div class="user__tab__panel">
                <div class="user__tab__panel__bookinghistory" id="booking_history">
                </div>
            </div>
        
            <div class="user__tab__panel">
                <div class="hotel__postings__panel" id="hotel_posts">
                </div>
            </div>
        </div>
    </section>
    
    <br>
    <script src="/js/User/userTabController.js" defer></script>
    <%- include('../../partials/footer') %>
</body>
</html>