<html>
    <head>
        <title>Search Hotel for Anywhere</title>
        <!-- CSS -->
        <link rel="stylesheet" href="/css/errorSearchPage.css">

        <!-- JS -->
        
    </head>
    <body>
        <h1>Hello</h1>
        <!-- navbar -->
        <!-- make it similar as the one in index.ejs -->
        <!-- however, navbar will be smaller than the one in index.ejs -->

        <!-- end of navar -->
        <!-- grid for country -->

        <!-- grid for top rated hotel -->
        
    </body>
</html>