<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/public/css/fa-all.css">
    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="/css/index.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"> 
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <!-- ============================================= -->
    <!-- ============ Header Start =================== -->
    <header class="index_header">
        <nav class="index_header_nav_container">
            <h1>
                <a href="/">
                    <i class="fas fa-umbrella-beach"></i>&nbsp; HotelFinder
                </a>
            </h1>
            <ul>
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <div class="index_header_nav_darkmode">
                        <i class="far fa-moon">Dark Mode</i>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
    <!-- ============== End of Header =================-->
    <!-- ============================================= -->
    <!-- ================ Main Start ==================-->
    <main>
        <section class="about">
            <h1>About this project : CSS Cpastone - Hotel Finder</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                deserunt mollit anim id est laborum.
            </p>
            <div class="about__developers">
                <div class="developer">
                    <div class="developer__icon"><img></div>
                    <h3 class="developer__name">Joseph Changgon Cho</h3>
                    <div class="developer__description">Free soul</div>
                </div>
                <div class="developer">
                    <div class="developer__icon"></div>
                    <h3 class="developer__name">Tarcisius Daniel Hartanto</h3>
                    <div class="developer__description">Free soul</div>
                </div>
                <div class="developer">
                    <div class="developer__icon"></div>
                    <h3 class="developer__name">JunHyung Park</h3>
                    <div class="developer__description">Free soul</div>
                </div>
            </div>
        </section>
    </main>
    <!-- ======================== -->
    <!-- Work flow ============== -->
    <!-- ======================== -->
    <h2 class="about__workFlow_title">The Work Flow && Timeline</h2>
    <main class="about__workFlow_container">
        <section class="about__workFlow">
            <div class="about__entitries">
                <!-- This is the first child -->
                <div class="entry">
                    <div class="title big">Week 1</div>
                    <div class="body">
                        <p>Created Github Repository.</p>
                        <p>AWS Setup &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
                        <ul>
                            <li>EC2 Instance</li>
                            <li>RDS Instance</li>
                            <li>Codepipeline && CodeDeploy</li>
                            <li>Route53</li>
                        </ul>
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">Week 2</div>
                    <div class="body">
                        <p>Design Entity Relationship Diagram for Database.</p>
                        <p>Start the Development Phase 1.</p><br>
                        <small class="small_trello_link">Development Phase can be viewd on Trello link Below: </small><br>
                        <a class="trello_link" href="https://trello.com/b/2BRSVnbp/uwb-capstone" target="_blank">Go View Trello</a>
                        
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">Week 3</div>
                    <div class="body">
                        <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">Week 4</div>
                    <div class="body">
                        <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">Week 5</div>
                    <div class="body">
                        <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">Week 6</div>
                    <div class="body">
                        <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">Week 7</div>
                    <div class="body">
                        <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
                    </div>
                </div>
                <div class="entry">
                    <div class="title big">Week 8</div>
                    <div class="body">
                        <p>Rerum sit libero possimus amet excepturi. Exercitationem enim dolores sunt praesentium dolorum praesentium.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>