<html>
    <head>
        <title>
            Admin
        </title>
    </head>
    <body>
        <h1>Hello to the admin</h1>
        <p>
            <ul>
                <li>Able to see all users</li>
                <ul>
                    <li>People who did booking</li>
                    <li>Display data using graph</li>
                    <ul>
                        <li>Based on booking price</li>
                        <li>Based on booking date</li>
                    </ul>
                </ul>
                <li>People who post hotel</li>
                <ul>
                    <li>All posted hotel</li>
                    <li>Display Map data on all hotels where hotel located in world map wise</li>
                    <ul>
                        <li>Hovering map mark, display list of hotel in that country with city and avg price</li>
                    </ul>
                </ul>
            </ul>
        </p>
    </body>
</html>