<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotel-Finder</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        <!-- Ori CSS//////// -->
        <!-- The whole CSS for FAQ page -->
        <link rel="stylesheet" href="/css/FAQ.css">
        <!-- Partial View CSS -->
        <!-- Navigation CSS -->
        <link rel="stylesheet" href="/css/navigation.css">
        <!-- Footer CSS -->
        <link rel="stylesheet" href="/css/footer.css">
        <!-- Modal Login CSS -->
        <link rel="stylesheet" type="text/css" href="/css/modal.css">
        <!-- Index CSS -->
        <link rel="stylesheet" href="/css/headerPartial.css">
    </head>
    <body>
        <!-- Header and the nav bar in FAQ page -->
        
        <%- include('../partials/headerNoSearch') %>
        <!-- The main section in FAQ page -->
        <main class = "main_body_faq">
            <section class = main_body_all_questions>
                <div class = "main_body_question_container">
                    <button type = "button" class = "question_clicker">
                        <h3>Question</h3>
                        <i class="fa fa-angle-double-down"></i>
                    </button>
                    <div class = "answer_container">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad</p>
                    </div>
                </div>
                <div class = "main_body_question_container">
                    <button type = "button" class = "question_clicker">
                        <h3>Question</h3>
                        <i class="fa fa-angle-double-down"></i>
                    </button>
                    <div class = "answer_container">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad</p>
                    </div>
                </div>
                <div class = "main_body_question_container">
                    <button type = "button" class = "question_clicker">
                        <h3>Question</h3>
                        <i class="fa fa-angle-double-down"></i>
                    </button>
                    <div class = "answer_container">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad</p>
                    </div>
                </div>
                <div class = "main_body_question_container">
                    <button type = "button" class = "question_clicker">
                        <h3>Question</h3>
                        <i class="fa fa-angle-double-down"></i>
                    </button>
                    <div class = "answer_container">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad</p>
                    </div>
                </div>
                <div class = "main_body_question_container">
                    <button type = "button" class = "question_clicker">
                        <h3>Question</h3>
                        <i class="fa fa-angle-double-down"></i>
                    </button>
                    <div class = "answer_container">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad</p>
                    </div>
                </div>
                <div class = "main_body_question_container">
                    <button type = "button" class = "question_clicker">
                        <h3>Question</h3>
                        <i class="fa fa-angle-double-down"></i>
                    </button>
                    <div class = "answer_container">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad.
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                            Nesciunt quaerat sapiente nihil ut adipisci 
                            quasi suscipit fuga obcaecati incidunt ad</p>
                    </div>
                </div>
            </section>
            <!-- ChatBot Dummy for now -->
            <section class="faq_chatbox_section">
                <div class="catbot_container">
                    <iframe
                        allow="microphone;"
                        width="330px"
                        height="420px"
                        src="https://console.dialogflow.com/api-client/demo/embedded/cba6ab46-684d-4a36-bb67-7edb93ab99bf">
                    </iframe>
                </div>
                <i class="fas fa-comment-dots chatbot_icon"></i>
                <span class="chatbot_tool_tip">Start Chatbot</span>
            </section>

        </main>

        <!-- Footer in FAQ page -->
        <%- include('../partials/footer') %>
    </body>
    <script src = "/js/FAQ/FAQ.js"></script>
    <script src ="/js/footer/footer.js"></script>
</html>