<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel-Finder</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <!-- Index CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- Footer CSS -->
    <link rel="stylesheet" href="/css/footer-test.css">
    <!-- Datepicker -->
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <link href="https://cdn.syncfusion.com/ej2/material.css" rel="stylesheet">
</script>
</head>
<body>
    <div class="index__bg">
        <nav id="navbar">
            <div class="navbar__logo">
                <i class="fas fa-hotel"></i>
                <a href="/">Hotel Finder</a>
            </div>
            <div class="navbar__center__menu">
                <span class="navbar__menu__item active">
                    <a href="/about/">About Us</a>
                </span>
            </div>
            <div class="navbar__right__menu">
                <span class="navbar__menu__item">
                    <a href="#"><i class="far fa-moon"></i></a>
                </span>
                <span class="navbar__menu__item"><a href="#">Become a host</a></span>
                <span class="navbar__menu__item">
                    <a href="#">
                        <i class="fas fa-bars"></i>
                        <i class="far fa-user-circle"></i>
                    </a>
                </span>
            </div>
        </nav>
        <section id="wrapper">
            <div class="searchbar">
                <div class="searchbar__item" id="location">
                    <label for="searchbar__location">
                        Location
                    </label><br>
                    <input 
                        id="location__searchterm" type="text" 
                        placeholder="Where are you going?">
                    </input>
                </div>
                <div class="searchbar__item" id="checkin">
                    <label for="searchbar__checkin">
                        Check in
                    </label><br>
                    <input id="checkin__date"
                        type="text" placeholder="Add dates"/>
                    <script>
                        var checkinDate = new ej.calendars.DatePicker({ width: "170px" });
                        checkinDate.appendTo('#checkin__date');
                    </script>
                </div>
                <div class="searchbar__item" id="checkout">
                    <label for="searchbar__checkout">
                        Check out
                    </label><br>
                    <input id="checkout__date"
                        type="text" placeholder="Add dates"/>
                    <script>
                        var checkinDate = new ej.calendars.DatePicker({ width: "170px" });
                        checkinDate.appendTo('#checkout__date');
                    </script>
                </div>
                <div class="searchbar__item" id="guests">
                    Guests
                </div>
                <div class="searchbar__item" id="searchbtn">
                    <button>
                        Btn
                    </button>
                </div>
            </div>
        </section>
    </div>
    <%- include('../partials/places_api') %>
    <%- include('../partials/footer-test') %>
</body>
</html>