<html>
    <head>
        <title>Invalid URL</title>
    </head>
    <body>
        <h1>The URL you requested is invalid. HTTP response code: 400</h1>
        <a href="/">Go to HotelFinder mainpage</a>
    </body>
</html>