<html>
    <head>
        <title>Set Up Your New Password</title>
    </head>
    <body>
        <div>
            <form action="">
                <p>Enter your email</p>
                <input type="text" name="" placeholder="Enter Email">
                <p>The link to reset your password will be sent to your email</p>
                <input type="submit" >
            </form>
        </div>
    </body>
</html>