<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign In Page</title>
        <!-- Imported CSS -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
        
        <!-- Original CSS -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/sign_in.css"> -->
        <link rel="stylesheet" type="text/css" href="/css/modal.css">
        <!-- <script src = "/js/ModalLogin/ModalLogin.js"></script> -->
    </head>
    <body>
        <!-- <div id="login-background"></div>
        <div class = "login_box">
            <img src="/images/sign_in_icon3.png" class="avatar">
            <h1 class = "box_title">Login</h1>
            <form action="">
                <p>Email</p>
                <input type="text" name="" placeholder="Enter Email">
                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password">
                <br>
                <input type="submit" name="" value="Login">
                <br>
                <a href="#">Forgot password?</a><br>
                <a href="/register">Don't have an account?</a>
            </form>
        </div> -->

        <a href="#" onclick="openLoginForm()">LOGIN</a>
        <%- include('../partials/modal_login') %>
    </body>
</html> 