<html>
    <head>
        <title>Try Google OAuth</title>
    </head>
    <body>
        <!-- Name -->
        <h1>Name:</h1>
        <p><%= username %></p>
        <!-- Profile Picture -->
        <img src="<%= picture %>" alt="">
        <!-- Email -->
        <h1>Email:</h1>
        <p><%= email %></p>
        <!-- Log out link-->
        <a href="/logout">Logout</a>
    </body>
</html>